@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

#phototemplate{
    display: inline-block;
}

.all{
    width: 300px;
    height: 335px;

}
.buttonn{
    text-align: center;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    font-family: 'New Tegomin', serif;
}
select{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 567px;
    background-color: darkseagreen;
    font-family: 'New Tegomin', serif;
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: #06e79ce6;
    margin-top: 18px;
    margin-left: 45px;
    font-family: 'New Tegomin', serif;
}
.left{
    float: left;
}
/* #photo-template{
    visibility: visible;
} */
